body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    padding: .5em 2em;
    background: white;
    color: #333;
}

h1 {
    margin-bottom: .67em;
    font-size: 1.8em;
}
h2 {
    font-size: 1.35em;
    opacity: .8;
}
h3 {
    margin: 2em 0 0;
}
section {
    margin-top: 1em;
}